/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v20-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
  url('../fonts/roboto-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v20-latin-300.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v20-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}


body {
  background-color: #000;
  background-attachment: fixed;
  background-image: url("/public/img/bg.jpg");
  background-size: cover;
  background-position: center;
  font-family: 'Roboto', sans-serif;
}

.box {
  height: 100px;
  width: 100px;
  background: black;
}

.screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.screen.welcome .code-input {
  margin-bottom: 50px;
}

.screen-content {
  align-content: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.screen-content * {
  margin: 0 auto;
  text-align: center;
}

.app-icon {
  width: 100px;
  height: 100px;
  margin: 50px auto;
  flex: 0 1 auto;
}

.title {
  font-size: 2em;
  color: #000;
}

.sub-title {
  font-size: 1.25em;
  color: #000;
}

.code-input {
  width: 90%;
  flex: 1 0 auto;
  font-size: 3em;
}

.code-input > * {
  width: 100%;
}

.code-submit {
  flex: 0 0 auto;
  margin-bottom: 25px;
}

.button {
  color: #000;
  background: #FFFFFF;
  width: 90%;
  padding: 15px;
  border-radius: 10px;
}

.actions {
  width: 100%;
  margin-bottom: 25px;
  flex: 0;
}

.actions > :not(:last-child) {
  margin-bottom: 10px;
}

.exercises {
  display: flex;
  flex-wrap: wrap;
}

.exercise {
  width: 150px;
  height: 150px;
  background: #FFF;
  opacity: 0.95;
  margin-bottom: 10px;
  position: relative;
}

.exercise.disabled {
  opacity: 0.5;
}

.exercise > img {
  max-width: 100%;
  max-height: 100%;
}

.exercise > div {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
}

.ex-deadlift {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, .6);
  width: 100%;
  height: 100%;
}

.message-prim {
  font-size: 2em;
  font-weight: bold;
}

.message {
  text-align: center;
  flex: 0;
  margin: 25px auto;
}

.message-sec {
  font-size: 1.25em;
  font-weight: 300;
}

.count {
  font-size: 10em;
  text-align: center;
  flex: 1;
}

.good .actions .action {
  background: #460a40;
  color: #fff;
}

.bad .actions .action {
  background: #e83b36;
  color: #fff;
}

.panel {
  flex: 0 0 auto;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  padding: 20px 0;
  margin-bottom: 25px;
}

.divider {
  flex: 1;
}

.history-graph {
  width: 100%;
  margin-top: 10px;
}

.screen.history .screen-content {
  background: rgba(255, 255, 255, 0.6);
}

.navigation {
  display: flex;
  height: 48px;
  background: #460a40;
}

.navigation.bad {
  background: #e83b36;
}

.navigation > div {
  flex: 1;
  text-align: center;
}

.navigation img {
  height: 100%;
}

.screen.end .panel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.logo > img {
  height: 100%;
}

.carousel .control-dots {
  padding-inline-start: 0;
}

.history-comparison {
  display: flex;
  margin: 10px;
}

.history-comparison > div {
  height: 150px;
  background: #fff;
  flex: 1;
}

.history-comparison > div:not(:last-child) {
  margin-right: 10px;
}

.tile > .weight {
  background: rgba(0, 0, 0, 0.05);
}

.history-comparison .tile {
  position: relative;
}

.history-comparison .tile .weight {
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 1.25em;
}

.history-comparison .tile .icon {
  flex: 1;
}

.history-comparison .tile .icon > img {
  height: 100%;
}

.history-comparison .tile .count {
  font-size: 2em;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 10px;
  background: #460a40;
  border-radius: 24px;
  color: #fff;
}

.history-comparison .description {
  font-style: italic;
}